
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

rpi_gpio:
  path: "/dev/gpiochip0"

switch:
  - platform: rpi_gpio
    switches:
      - port: 17 
        name: "Gastherme"
        invert_logic: true
        pull_mode: "UP"   

      - port: 27
        name: "Wärmepumpe"
        invert_logic: true
        pull_mode: "UP"


mqtt:
  sensor:
    - name: "Multical 603 Energy"
      unique_id: "multical603_energy_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "kWh"
      device_class: energy
      value_template: "{{ value_json.energy_kwh }}"

    - name: "Multical 603 Volume"
      unique_id: "multical603_volume_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "m³"
      icon: mdi:water
      value_template: "{{ value_json.volume_m3 }}"

    - name: "Multical 603 Power"
      unique_id: "multical603_power_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "kW"
      device_class: power
      value_template: "{{ value_json.power_kw }}"

    - name: "Multical 603 Flow"
      unique_id: "multical603_flow_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "l/h"
      icon: mdi:water-pump
      value_template: "{{ value_json.flow_lh }}"

    - name: "Multical 603 Vorlauf"
      unique_id: "multical603_temp_in_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ value_json.temp_flow_c }}"

    - name: "Multical 603 Rücklauf"
      unique_id: "multical603_temp_out_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ value_json.temp_return_c }}"

    - name: "Multical 603 Delta T"
      unique_id: "multical603_delta_t_1"
      state_topic: "mbus/1/state"
      unit_of_measurement: "K"
      value_template: "{{ value_json.delta_t_c }}"



    - name: "Multical 603 Energy"
      unique_id: "multical603_energy_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "kWh"
      device_class: energy
      value_template: "{{ value_json.energy_kwh }}"

    - name: "Multical 603 Volume"
      unique_id: "multical603_volume_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "m³"
      icon: mdi:water
      value_template: "{{ value_json.volume_m3 }}"

    - name: "Multical 603 Power"
      unique_id: "multical603_power_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "kW"
      device_class: power
      value_template: "{{ value_json.power_kw }}"

    - name: "Multical 603 Flow"
      unique_id: "multical603_flow_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "l/h"
      icon: mdi:water-pump
      value_template: "{{ value_json.flow_lh }}"

    - name: "Multical 603 Vorlauf"
      unique_id: "multical603_temp_in_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ value_json.temp_flow_c }}"

    - name: "Multical 603 Rücklauf"
      unique_id: "multical603_temp_out_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ value_json.temp_return_c }}"

    - name: "Multical 603 Delta T"
      unique_id: "multical603_delta_t_2"
      state_topic: "mbus/2/state"
      unit_of_measurement: "K"
      value_template: "{{ value_json.delta_t_c }}"




    - name: "Multical 603 Energy"
      unique_id: "multical603_energy_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "kWh"
      device_class: energy
      value_template: "{{ value_json.energy_kwh }}"

    - name: "Multical 603 Volume"
      unique_id: "multical603_volume_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "m³"
      icon: mdi:water
      value_template: "{{ value_json.volume_m3 }}"

    - name: "Multical 603 Power"
      unique_id: "multical603_power_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "kW"
      device_class: power
      value_template: "{{ value_json.power_kw }}"

    - name: "Multical 603 Flow"
      unique_id: "multical603_flow_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "l/h"
      icon: mdi:water-pump
      value_template: "{{ value_json.flow_lh }}"

    - name: "Multical 603 Vorlauf"
      unique_id: "multical603_temp_in_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ value_json.temp_flow_c }}"

    - name: "Multical 603 Rücklauf"
      unique_id: "multical603_temp_out_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ value_json.temp_return_c }}"

    - name: "Multical 603 Delta T"
      unique_id: "multical603_delta_t_4"
      state_topic: "mbus/4/state"
      unit_of_measurement: "K"
      value_template: "{{ value_json.delta_t_c }}"


input_number:
  heizkurve_steigung:
    name: "Heizkurve Steigung"
    min: 0.0
    max: 3.0
    step: 0.05

  heizkurve_offset:
    name: "Heizkurve Offset"
    min: -30
    max: 30
    step: 0.5
    unit_of_measurement: "°C"

  hysterese_min:
    name: "Hysterse min"
    min: -30
    max: 0
    step: 0.25
    unit_of_measurement: "°C"

  hysterese_max:
    name: "Hysterese max"
    min: 0
    max: 30
    step: 0.25
    unit_of_measurement: "°C"


  mindestlaufzeit_waermepumpe:
    name: "Mindestlaufzeit Wärmepumpe"
    min: 10
    max: 120
    step: 1
    unit_of_measurement: "min"

  mindestlaufzeit_gastherme:
    name: "Mindestlaufzeit Gastherme"
    min: 0
    max: 120
    step: 1
    unit_of_measurement: "min"

  gaspreis:
    name: "Gaspreis"
    min: 0.0
    max: 1.0
    step: 0.001
    unit_of_measurement: "€/kWh"
    mode: box

  strompreis:
    name: "Strompreis"
    min: 0.0
    max: 1.0
    step: 0.001
    unit_of_measurement: "€/kWh"
    mode: box

  wirkungsgrad_gastherme:
    name: "Wirkungsgrad Gastherme"
    min: 0.0
    max: 150.0
    step: 0.5
    unit_of_measurement: "%"
    mode: box



template:
  - sensor:
      - name: "Heizkurve Vorlauf-Solltemperatur"
        unique_id: heizkurve_vorlauf_solltemperatur
        device_class: temperature
        unit_of_measurement: "°C"
        state_class: measurement
        state: >
          {% set aussen = states('sensor.thermometer_aussen') | float(default=0) %}
          {% set steigung = states('input_number.heizkurve_steigung') | float %}
          {% set offset = states('input_number.heizkurve_offset') | float %}

          {% set wert = -steigung * aussen + (offset + 50) %}

          {# Begrenzung auf 25–75 °C #}
          {% if wert < 25 %}
            25
          {% elif wert > 75 %}
            75
          {% else %}
            {{ wert }}
          {% endif %}

      - name: "Heizkurve Vorlauf-Solltemperatur min"
        unique_id: heizkurve_vorlauf_solltemperatur_min
        device_class: temperature
        unit_of_measurement: "°C"
        state_class: measurement
        state: >
          {% set steigung = states('input_number.heizkurve_steigung') | float %}
          {% set offset = states('input_number.heizkurve_offset') | float %}

          {% set wert = -steigung * -14 + (offset + 50) %}

          {# Begrenzung auf 25–75 °C #}
          {% if wert < 25 %}
            25
          {% elif wert > 75 %}
            75
          {% else %}
            {{ wert }}
          {% endif %}

      - name: "Heizkurve Vorlauf-Solltemperatur max"
        unique_id: heizkurve_vorlauf_solltemperatur_max
        device_class: temperature
        unit_of_measurement: "°C"
        state_class: measurement
        state: >
          {% set steigung = states('input_number.heizkurve_steigung') | float %}
          {% set offset = states('input_number.heizkurve_offset') | float %}

          {% set wert = -steigung * 30 + (offset + 50) %}

          {# Begrenzung auf 25–75 °C #}
          {% if wert < 25 %}
            25
          {% elif wert > 75 %}
            75
          {% else %}
            {{ wert }}
          {% endif %}

      - name: "Delta T Warmepumpe"
        unique_id: delta_t_warmepumpe
        unit_of_measurement: "°C"
        state: >
          {{ states('sensor.warmepumpe_vl_aussenwand') | float(0)
             - states('sensor.warmepumpe_rl_aussenwand') | float(0) }}

      - name: "Shelly WP Power"

        unique_id: shelly_wp_power

        unit_of_measurement: "W"

        device_class: power

        state_class: measurement

        state: >

          {% set s1 = states('sensor.shelly_phase_a_power') | float(0) %}

          {% set s2 = states('sensor.shelly_phase_b_power') | float(0) %}

          {% set s3 = states('sensor.shelly_phase_c_power') | float(0) %}

          {{ (s1 + s2 + s3) | round(1) }}

influxdb:
  api_version: 2
  host: localhost
  port: 8086
  ssl: false

  token: !secret influxdb_token
  organization: home_assistant
  bucket: home_assistant_bucket

  include:
    domains:
      - sensor
      - binary_sensor
      - switch
      - input_number

  exclude:
    entities:
      - sensor.influx_wp_cop
      - sensor.influx_wp_cop_prognose

sensor:

  - platform: influxdb
    api_version: 2
    host: localhost
    port: 8086
    ssl: false
    token: !secret influxdb_token
    organization: home_assistant
    bucket: home_assistant_bucket
    queries_flux:
      - name: "influx_wp_cop"
        range_start: "-30d"
        range_stop: "now()"
        query: >
          filter(fn: (r) =>
            r["_measurement"] == "cop" and
            r["entity_id"] == "influx_wp_cop"
          )
          |> last()
          |> map(fn: (r) => ({
            _value: r._value
          }))

      - name: "influx_wp_cop_prognose"
        range_start: "-30d"
        range_stop: "now()"
        query: >
          filter(fn: (r) =>
            r["_measurement"] == "cop_prognose" and
            r["entity_id"] == "influx_wp_cop_prognose"
          )
          |> last()
          |> map(fn: (r) => ({
            _value: r._value
          }))

